manifest {
    name            = 'jordeu/nf-streams-poc'
    author          = 'Jordi Deu-Pons'
    homePage        = 'https://github.com/jordeu/nf-streams-poc'
    description     = 'POC pipeline to stream data between processes'
    mainScript      = 'main.nf'
}

params.outdir = "results" // Default output directory
params.lines = 10
process.container = 'jordeu/nf-stream'

docker {
  enabled = true
  temp = '/tmp'
}
